h2.gameTitle {
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.descriptionCard {
  margin-top: 1rem;
}

@media screen and (min-width: 567px) {
  .gameTitle {
    margin-top: 0;
  }

  .descriptionCard {
    margin-top: 0;
    margin-left: 1rem;
  }
}
